<div class="row mt-5" >
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card title">{{product.name}}</h5>
                <img style="width:120px;" src="{{product.imgUrl}}">
                <p class="card-text">{{product.description}}</p>
                <h6>{{product.price | currency: 'R$ '}}</h6>
                <button class="btn btn-success" (click)="addToCart(product)">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>